button{
  background:linear-gradient(90deg, rgba(108,2,255,1) 0%, rgba(195,23,190,1) 35%, rgba(179,124,255,1) 100%);
  color:white
}
a{
  color: white;
  text-decoration: none;
}
button:hover{
  border: solid 1px white;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
