<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div>
    <h1>HOMIES DATA</h1>
  </div>
  <div>
    <p>Empresa fundada por <b>Ángel Linero, Jorge Reina y Amanda Navas</b></p>
    <p>Nos dedicamos a la venta de zapatillas exclusivas, esa que no encuentras nunca, ¡Las tenemos!</p> <br>

    <p>Si quieres obtener nuestra <b>lista de empleados</b> filtrada, escribe al final de la barra de busqueda lo siguiente: </p>
    <p>/empleadosLista/rol   -> Sustituye rol por el rol que desearias filtrar</p> <br>
    <p>Si quieres obtener la <b>información de un empleado</b>, escribe al final de la barra de busqueda lo siguiente: </p>
    <p>/empleado/id   -> Sustituye id por el id del usuario que quieres obtener información</p><br>
    <p>Si quieres <b>eliminar</b> un empleado, escribe al final de la barra de busqueda lo siguiente: </p>
    <p>/empleado/id   -> Sustituye id por el id del usuario que quieres eliminar</p>
  </div>

</body>
</html>