<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>HOMIES DATA</h1>
  <p>Empresa fundada por Ángel Linero, Jorge Reina y Amanda Navas</p>
  <p>Nos dedicamos a la venta de zapatillas exclusivas, esa que no encuentras nunca, ¡Las tenemos!</p>
  <button><a href="{{ url_for('obtenerLista') }}">Lista empleados</a></button> <br>
  <a href="{{ url_for('AñadirUser') }}">Añadir Usuario</a>

</body>
</html>